# ignore Working folder
Working/

# ignore temporary files at Code directory
Code/.ipynb_checkpoints

# MS office temporary files
**/~$*.doc*
**/~$*.docx*

# Excel temporary
**/~$*.xls*
**/~$*.xlsx*
# Excel Backup File
**/*.xlk

# PowerPoint temporary
**/~$*.ppt*
**/~$*.pptx*
